
<main>
  <section class="form-section">
    <img src="/svg/logo.svg" alt="">
    <h2>Menu</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">

    
    <button 
    class="btn-primary" 
    (click)="login()"
    >
    Login</button>
    <div class="divider">
      <div></div>
      <span>or</span>
      <div></div>
    </div>
    <button class="btn-secondary" (click)="home()">Home</button>
    <div class="divider">
      <div></div>
      <span>or</span>
      <div></div>
    </div>
    <button class="btn-secondary" (click)="contato()">Entre em Contato</button>

  </div>
  </section>
  <section class="main-section">
    <h2>Bem-vindo ao ERP Hospital</h2>
    <img src="/svg/main-ilustration.svg" alt="">
  </section>
</main>